* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body, #wrapper {
    height: 100%;
}

body {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50rem;
    font-family: Open Sans, Arial, sans-serif;
    color: #222;
}

h1 {
    line-height: 1;
    text-align: center;
    margin: 2rem 0;
}

h1 small {
    font-size: 50%;
    color: #777;
}

#controls, #messages-root {
    margin: 0 auto;
    min-height: 5rem;
    width: 80%;
}

#messages-root {
    flex: 1;
    margin: 2rem auto;
    overflow-y: scroll;
    list-style: none;
}
.message {
    color: #444;
    font-family: monospace;
}

.message.personal {
    font-style: italic;
    color: #666;
}

#controls input, #controls button {
    margin: 0.2rem 0;
    padding: 0.3rem;
    border-radius: 3px;
}

#controls input {
    width: 80%;
}

#controls #namer {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #777;
}
#controls #namer:focus, #controls input:focus {
    outline: none;
    border-color: #244BE8;
}
